{% extends 'base.html' %}

{% block title %}Login - Community Forum{% endblock %}

{% block header_title %}🔐 Login{% endblock %}

{% block content %}
  <div class="auth-container">
    <h2>Login to Your Account</h2>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
      </div>
      <div>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
      </div>
      <div>
        <label>
          <input type="checkbox" name="remember_me" value="1"> Remember me
        </label>
      </div>
      <button type="submit" class="btn-login">Login</button>
    </form>

    <div class="auth-links">
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    </div>
  </div>
{% endblock %}
